<div class="dashboard">  
  <div id="dashContainer"class="container-fluid">
    <h1>_recent posts</h1>    
    {{#each posts as |post|}}
      <div class="postCard">
        <h2 class="postTitle" data-id={{this.id}}>{{this.title}}</h2>
        <p class="postContent" data-id={{this.id}}>{{this.content}}</p>
        <h3 class="postAuthor">{{user.name}}</h3>
        
        <a class="nav-link" href="/post/{{this.id}}"><button class="btn btn-primary" type="button">go to post</button></a>

      </div>
    {{/each}}
  </div>
</div>

